<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="factory" value="AutomobileFactoryLib.TeslaFactory" />
    <!--  <add key="factory" value="AutomobileFactoryLib.BMWFactory" />--> 
      <!--  <add key="factory" value="AutomobileFactoryLib.AudiFactory" />--> 
   
  </appSettings>
</configuration>